.oneFilmPage {
  display: grid;
  grid-template-columns: 4fr 6fr;
  color: rgb(199, 199, 199)
}
@media (max-width:1100px) {
  .oneFilmPage {
    display: block;
    max-width: 970px;
    padding-left: 20px;
  }
  
}
@media (max-width:500px) {
  .filmPic {
    max-width: 200px;
    max-height: 300px;
    
  }
}

.filmPic {
  margin: 30px auto;
  width: 330px;
  height: 490px;  
  color:#949494;  
  background-size: 100% 100%;  
  border-radius: 10px;
}

.about {
  padding-right: 40px;
}