.oneFilmPage {
  display: grid;
  grid-template-columns: 4fr 6fr;
  color: rgb(199, 199, 199)
}

.filmPic {
  margin: 30px auto;
  width: 330px;
  height: 490px;  
  color:#949494;  
  background-size: 100% 100%;  
  border-radius: 10px;
}

.filmPic img {
  width: 350px;
  height: 500px;
}

.about {
  padding-right: 40px;
}