.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
  background-color: #1B1E21;
  color: white;
}

@media (max-width:767px) {
  .header {
    padding: 10px 30px;
  }
}
