.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
  background-color: #1B1E21;
  color: white;
}

.pagination span.selectedPage {
  
  color:#606365;
  
} 

.pagination:hover {
  cursor: pointer;
}

.pagination span {
  border: 1px solid rgb(53, 53, 53);
  border-radius: 20px;
  margin: 5px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 10px;
  background-color: rgb(53, 53, 53);
  color:#299DED;
}