.buttons {  
  max-width: 1680px;
  text-align: end;
  margin: 0 auto;  
  padding-right: 60px;
  background: linear-gradient(#1B1E21, rgb(53, 53, 53));
  
}

.buttons span {
  color: white;
}

.buttons button {
  margin: 5px;
  margin-right: 15px;
  margin-bottom: 0;
  border: 1px solid #3c3f42;
  background-color: #414344;
  padding: 5px;
  border-radius: 10px;
  color:#299DED;
}

.buttons button:hover {
  cursor: pointer;
  background-color: #2a2d30;
}

.filmsList {  
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  background-color: rgb(53, 53, 53);
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;  
  justify-items: center; 
  
}
@media (max-width:1200px) {
  .filmsList {
    max-width: 970px;
  }
}
@media (max-width:992px) {
  .filmsList {
    max-width: 750px;
  }
}
@media (max-width:767px) {
  .filmsList {
    max-width: none;
  }
  .buttons {
    padding-right: 0;
    text-align: center;
  }
}