

.filmItem {
  width: 200px;
  height: 300px;  
  color:white;  
  background-size: 100% 100%;  
  border-radius: 10px;
  position: relative;
}

.filmItem:hover .details{
  border-radius: 10px;
  backdrop-filter: blur(8px);
}


.filmName {
  color:white;
  width: 200px;
  
}

.details {
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
padding-top: 50px;
position: absolute;
height: 84%;
font-size: 22px;
}





