

.filmItem {
  width: 200px;
  height: 300px;  
  color:white;  
  background-size: 100% 100%;  
  border-radius: 10px;
}

.filmItem:hover {
  filter: blur(1px);
  
}


.filmName {
  color:white;
  width: 200px;
  
}

.details {
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;

text-align: center;

}





